@import url('../../components/global.css');

.button {
  margin: 1rem;
  color: black;
  text-decoration: none;
}

.outfits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem;

  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.carousel {
  max-width: 300px;

  img {
    height: 300px;
    object-fit: cover;
  }

  button {
    background-color: black;
  }
}
