@import url('../../components/global.css');

.button {
  margin: 1rem;
}

.clothes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem;

  & > * {
    text-align: center;
  }
}

.checkbox-title {
  display: flex;
  justify-self: center;
  gap: 1rem;
}

img {
  height: 300px;
}

@media (max-width: 1000px) {
  .clothes {
    grid-template-columns: 1fr;
  }

  .buttons {
    display: flex;
    margin-bottom: 1rem;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
