@import url('../../components/global.css');

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 40%;
}

button {
  align-self: start;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  margin: 3rem;
}
