footer {
  display: flex;
  background-color: #f694dd;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  border-top: 4px solid black;
  box-shadow: 0 0 0 4px #b7479b;
  justify-content: space-between;
  padding: 3rem;
  font-family: 'Roboto', monospace;
  margin-top: auto;
}

footer > :last-child {
  text-align: end;
}

footer h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Bitcount Grid Single', monospace;
}

footer h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Bitcount Grid Single', monospace;
}
