footer {
  display: flex;
  background-color: #f694dd;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  border-top: 4px solid black;
  box-shadow: 0 0 0 4px #b7479b;
  align-items: end;
  justify-content: space-between;
  min-height: 300px;
  padding: 3rem;
  font-family: "Roboto", monospace;


}

footer > :last-child {
  text-align: end;
}

footer h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bitcount Grid Single", monospace;
}

footer h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bitcount Grid Single", monospace;
}