<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="../home/index.html"> PASSARELA </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../home/index.html"> Home Page ✨ </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../closet/closet.html">
              Your closet ✨
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../planner/planner.html"> Planner ✨ </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../friends/friends.html"> Friends ✨ </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../profile/profile.html"> Profile ✨ </a>
          </li>
        </ul>

        <div class="welcome">
          <p>Welcome, Sofia Silva!</p>
          <a href="../login/login.html">Log in</a>
        </div>
      </div>
    </div>
  </nav>
</header>
