header {
  display: flex;
  background-color: #f694dd;
  padding: 1rem 2rem;
  border-bottom: 4px solid black;
  box-shadow: 0 4px 0 #b7479b;
  border-radius: 0 0 20px 20px;
  padding: 0.5rem;
  min-height: 3rem;

  nav {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
  }
  
  nav ul {
    display: inline-flex;
    gap: 3rem;
    list-style: none;
  }

  nav ul li {
    display: inline-block;
    padding: 0 10px;
    background-color: white;
    border: 4px solid black;
    font-family: "Roboto", monospace;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 4px 4px 0px #b7479b;
    align-self: center;

    a {
      color: black;
      text-decoration: none;
    }
  }


  div {
    text-align: end;
    margin-right: 2rem;
    margin-bottom: 0.5rem;

    & * {
      font-family: "Roboto", monospace;
    }
  }
}
