<header>
  <link rel="stylesheet" href="header.css" />
  <nav>
    <ul>
      <li><a href="../home/index.html">Home Page ✨</a></li>
      <li><a href="../closet/closet.html">Your closet ✨</a></li>
      <li><a href="../planner/planner.html">Planner ✨</a></li>
      <li><a href="../friends/friends.html">Friends ✨</a></li>
      <li><a href="../profile/profile.html">Profile ✨</a></li>
    </ul>
  </nav>
  <div>
    <p>Welcome, Sofia Silva!</p>
    <a href="../login/login.html">Log in</a>
  </div>
</header>
