@import url('../../components/global.css');

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;

  .profile-main-info {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1.5rem;
  }

  .info {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }
}
