@import url('../app.css');

.button {
  margin: 1rem;
}

.clothes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem;

  & > * {
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  margin: 3rem;
}

img {
  height: 300px;
}

@media (max-width: 1000px) {
  .clothes {
    grid-template-columns: 1fr;
  }

  .buttons {
    display: flex;
    margin-bottom: 1rem;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  form {
    width: 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}
