@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

main {
  margin-block: 1rem;
  margin-inline: 3rem;
}

button,
.button {
  display: inline-block;
  padding: 0 10px;
  background-color: white;
  border: 4px solid black;
  font-family: 'Roboto', monospace;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 4px 4px 0px #b7479b;
  align-self: center;
  cursor: pointer;
  margin: 1rem;
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: 'Bitcount Grid Single', monospace;
}

h2 {
  font-family: 'Roboto', monospace;
  text-transform: uppercase;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

@import url('../../components/global.css');

header {
  background-color: #f694dd;
  padding: 0.5rem;
  border-bottom: 4px solid black;
  box-shadow: 0 4px 0 #b7479b;
  border-radius: 0 0 20px 20px;
  min-height: 3rem;
  width: 100%;
  box-sizing: border-box;
}

header .navbar {
  width: 100%;
}

header .navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header .navbar-nav {
  gap: 1rem;
}

header .nav-item {
  background-color: white;
  border: 4px solid black;
  font-family: 'Roboto', monospace;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 4px 4px 0 #b7479b;
  padding: 0 10px;
}

header .nav-link {
  color: black;
  text-decoration: none;
}

header .nav-link:hover {
  color: #b7479b;
}

header .welcome {
  text-align: end;
  font-family: 'Roboto', monospace;
}

.navbar-collapse {
  justify-content: space-between;
}

@media (max-width: 992px) {
  header .navbar-nav {
    gap: 1rem;
    margin-top: 1rem;
  }

  header .nav-item {
    width: 100%;
  }

  header .welcome {
    text-align: left;
    margin-top: 1rem;
  }
}

@import url('../../components/global.css');

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f694dd;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  border-top: 4px solid black;
  box-shadow: 0 0 0 4px #b7479b;
  padding: 3rem;
  font-family: 'Roboto', monospace;
  margin-top: auto;

  > :nth-child(2) {
    text-align: center;
  }
}

footer > :last-child {
  text-align: end;
}

footer h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Bitcount Grid Single', monospace;
}

@media (max-width: 767px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
    gap: 2rem;

    > :nth-child(2) {
      order: 3;
      padding-top: 2rem;
    }

    > :last-child {
      text-align: center;
    }
  }
}

